.footer-top {
    background: #111;
    padding: 80px 0;
}

h2, h4 {
    color: #FFF;
}

p {
    color: #999;
}

.segment-one p {
    text-align: justify;
}

.segment-two ul{
    list-style: none;
}

.segment-two ul li{
    border-bottom: 1px solid rgba(255,255,255,0.3);
    line-height: 40px;
} 

.segment-two ul li a{
    text-decoration: none;
    color: #999;
} 

.segment-three a{
    background: #494848;
    width: 40px;
    height: 40px;
    display: inline-block;
    border-radius: 50%;
    margin: 4px;
}

.segment-three a i{
    font-size: 20px;
    color: #fff;
    padding: 10px 12px;
    
}

.footer-bottom-text {
    text-align: center;
    background: black;
    line-height: 75px;
}