<footer>
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-4 col-xs-12 segment-one">
                    <h4>ACERCA DE MARVEL</h4>
                    <p>Marvel Entertainment, LLC, una subsidiaria de propiedad total de The Walt Disney Company, es una
                        de las compañías de entretenimiento basadas en personajes más prominentes del mundo, construida
                        sobre una biblioteca probada de más de 8,000 personajes presentados en una variedad de medios
                        durante setenta y cinco años. Para más información visite marvel.com. © 2019 MARVEL</p>
                </div>

                <div class="col-md-4 col-sm-4 col-xs-12 segment-two">

                    <ul>
                        <li><a href="">SOBRE MARVEL</a></li>
                        <li><a href="">AYUDA/PREGUNTAS FRECUENTES</a></li>
                        <li><a href="">CARRERAS</a></li>
                        <li><a href="">PASANTIAS</a></li>
                    </ul>
                </div>

                <div class="col-md-4 col-sm-4 col-xs-12 segment-three">

                    <h4>SIGUE A MARVEL</h4>
                    <a href="http://facebook.com/marvel"><i class="fa fa-facebook"></i></a>
                    <a href="http://twitter.com/marvel"><i class="fa fa-twitter"></i></a>
                    <a href="http://instagram.com/marvel"><i class="fa fa-instagram"></i></a>
                    <a href="https://www.pinterest.com/marvelofficial"><i class="fa fa-pinterest"></i></a>
                </div>
            </div>
        </div>
    </div>
    <p class="footer-bottom-text">Elaborado por Juan Cuesta y Elisa Espinoza - UTMACH</p>
</footer>