<div class="portada">
    <h1>EXPLORA EL UNIVERSO</h1>
    <h4>Sumérgete en el deslumbrante dominio de todos los personajes clásicos que amas, ¡y los que pronto descubrirás!
    </h4>
</div>
<div class="container">
    <div class="row">
        <div class="col-4">
            <h2>BIOGRAFÍA</h2>
        </div>
        <div class="col-6">
            <h3>Por amor de la muerte</h3>
            <p>Nativo del planeta Titán, Thanos vio el peligro en el que se encontraba su pueblo por la sobrepoblación y
                sugirió una solución severa: la eliminación de la mitad de la población, al azar y sin prejuicios, para
                mejorar la vida del planeta en su conjunto. Fue rechazado como un loco, pero su planeta finalmente
                murió, al carecer de los recursos necesarios para mantenerse al día con las demandas.</p>
            <p>Creyendo firmemente que el universo en general estaba en el mismo peligro que Titán, Thanos llegó al
                poder como una fuerza que traía muerte y destrucción de planeta en planeta, con innumerables legiones de
                soldados y sirvientes a su entera disposición. Infame por aniquilar razas enteras al servicio de
                despoblar lo que él cree que es un universo superpoblado, a menudo trabaja a través de sustitutos para
                lograr sus objetivos, pero se sabe que toma una mano personal en circunstancias especiales.</p>
            <p>Más de una vez, Thanos tomó un niño de una especie galáctica que había diezmado y lo crió como suyo.
                Algunos de estos niños han sido instruidos en las artes del asesinato y la guerra, convirtiéndolos en
                los asesinos más mortales imaginables. Thanos también ha dado poderosos artefactos a individuos que él
                cree que los usarán para difundir la causa de la muerte en ciertos puntos importantes entre las
                galaxias.</p>
            <p>Thanos pasó a tener un gran interés en adquirir Infinity Stones, seis objetos de inmenso poder dispersos
                por todo el universo, y ha construido el Infinity Gauntlet para aprovechar su poder.</p>
            <figure>
                <img src="https://terrigen-cdn-dev.marvel.com/content/prod/1x/003cap_ons_inl_01.jpg">
            </figure>
            <h3>Un titán entre hombres</h3>
            <p>Físicamente, Thanos se encuentra cabeza y hombros por encima del humano o humanoide promedio, con músculos poderosos, una cara ancha y un tono de piel púrpura. A menudo usa una armadura protectora y su fuerza es tal que ha sido físicamente capaz de luchar y derrotar a Hulk.</p>
            <p>No se sabe que use mucho en el camino de las armas personales, el único artefacto extremadamente notable que tiene con él es el Infinity Gauntlet. Hecho de metal Uru en Nidavellir por Eitri, bajo la presión de Thanos, el Infinity Gauntlet permite a su usuario aprovechar el poder de cada Piedra Infinita añadida. Una vez que contiene las seis piedras, se convierte en el elemento más poderoso del universo.</p>
            <figure>
                <img src="https://terrigen-cdn-dev.marvel.com/content/prod/1x/003cap_ons_inl_02.jpg">
            </figure>
        </div>
    </div>
</div>