<div class="portada">
    <h1>EXPLORA EL UNIVERSO</h1>
    <h4>Sumérgete en el deslumbrante dominio de todos los personajes clásicos que amas, ¡y los que pronto descubrirás!
    </h4>
</div>

<div class="container">
    <div class="row">
        <div class="thanos">
            <div class="col-4 personaje">
                <h4>THANOS</h4>
                <p>Usando el poder de las Piedras Infinitas, Thanos cree que finalmente puede salvar el universo al eliminar
                    a la mitad de su población.</p>
                    <button [routerLink]="['/perfil']">APRENDE MAS</button>
            </div>
        </div>
        
    </div>
</div>

<div class="container">
    <div class="row">
        
        <div class="guardian">
            
            <div class="col-4 personaje">
                <h4>GUARDIANES DE LA GALAXIA</h4>
                <p>Este grupo de forajidos intergalácticos, convertidos en salvadores improbables de la galaxia,
                    generalmente no tienen un plan y discuten constantemente. Pero se preocupan profundamente el uno por el
                    otro y generalmente hacen el trabajo, legal o de otro tipo.</p>
                <button [routerLink]="['/perfil']">APRENDE MAS</button>
            </div>
        </div>
        
    </div>
</div>